String serialization can produce invalid JSON for some input strings

Hello, I've recently run into some issues serializing and deserializing data using the Graph SDK when the data contains string fields that have special characters besides the already escaped tab/newline characters. For instance, if I create an email with a body with content type text that contains the backspace character (hex character code 0x08), serialize it using the Graph SDK, and then attempt to deserialize it I get an invalid JSON error message because the backspace character is not properly escaped. The set of characters that requires escaping is available in section 7 of [RFC 8259](https://www.rfc-editor.org/rfc/rfc8259#section-7)

To better highlight these edge cases I've created a [new branch](https://github.com/alcionai/kiota-serialization-json-go/tree/serialization-tests) in a fork of the repo with a set of (currently failing) tests. A diff showing just the added tests is [here](https://github.com/microsoft/kiota-serialization-json-go/compare/main...alcionai:kiota-serialization-json-go:serialization-tests)

While I was working on a patch for this issue I noticed that the Graph SDK is using custom logic to perform all character escaping in strings. This made me curious, is there a particular reason not to use golang's standard library `json.Marshal` or an instance of a standard library encoder? It seems like if HTML-safe encoding wasn't needed then an encoder with that feature turned off and manually removing the additional newline character it adds should do the trick. It also seems like it would avoid some of the issues where some, but not all, character escape sequences are handled since the golang standard library should be well tested for edge cases

Hi @ashmrtn
Thanks for using the Go SDK and for reaching out.

The go SDK is generated from metadata (OpenAPI description) using [kiota](https://aka.ms/kiota). One of the key tenets of Kiota is the generated models are not tied to any specific serialization format/library. This is to allow decoupling, reusability, interoperability, for performance reasons.... But also because some JSON serialization libraries don't allow customization of deserialization. e.g. if an endpoint describes returning a collection of Directory Object, which are Users, Service Principals, Groups.... you want the derived type to be used so pattern matching works. Another example is a dateTime field that's usually represented either as a number or as a string, and should be deserialize to the right type instead of scalar string/number....

This is why kiota clients rely on auto-serialization (each model type describes how to serialize/deserialize itself in the code), which in turns relies on this implementation here. Now if we compare Go with dotnet/java, both those languages have a JsonWriter offered by the serialization library (System.Text.Json, GSON), which handles escaping, making sure the JSON is valid etc... while providing higher level APIs (writeBoolean, string, etc...) But Go doesn't seem to offer this, which is why we're doing this directly in a byte slice here.

The escaping is being done here at the moment, but it could be beneficial to replace things by another library if we could, or move it to a dedicated wrapper (outside of kiota's primitive concepts) and encapsulate it here.

https://github.com/microsoft/kiota-serialization-json-go/blob/b9ef4053b6157070b5aeef7c5383565c3b583109/json_serialization_writer.go#L55

Is this something you'd like to work on? Let us know if you have further questions

ah sorry, I don't seem to have added enough context to some of my statements. I meant using the golang standard library's JSON marshalling only for strings. I understand that there's other data types that need to be serialized differently since `Serialize` for various objects is used for the wire format sent to the Graph servers which means it needs to comply with what the servers expect

I can create a quick patch for the string serialization issue that this Github issue is referencing

If there was a desire to use the golang standard library serialization functions in the future, it could be possible if the generated code was expanded to implement the `MarshalJSON` method (see the [standard library documentation](https://pkg.go.dev/encoding/json#Marshal)) as that would allow the standard library to use those calls instead of its more generic logic. I don't know if I would have the time to work on that though, assuming there was interest for that feature

Do you mean to replace the replace alls, the string to byte conversion from the writeStringValue method so the escaping is handled natively? If so, please go ahead with a PR, it'd be a great improvement!